{% extends 'base.html' %}

{% block title %}
  Home
{% endblock%}
{% block page %}{% endblock %}

{% block content_right %}
<br>
<div class="content_right_header">
    Contact details
</div>
<p>
    <strong>Address: </strong>Suðurgata, 41, Рейкьявик, Исландия <br>
    <strong>Phone: </strong> +7(999)8303814 <br>
    <strong>Email: </strong>r.kirzhanov@albato.ru <br>
</p>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A933ea6ad7d37c0e6d181bb01bf0e5d3e012cd58b8b0e957cfd86fc156d507af5&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>

{% endblock %}
